{
  "plugins": [
    "prettier-plugin-svelte",
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindConfig": "./styles/tailwind.config.js",
  "tailwindFunctions": ["clsx"]
}